
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	
	box-sizing:border-box; 
}


html, body  { 
	height:100%;
	width:100%;
}

body {
	font-family: 'Segoe UI', 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', 'Lucida Grande', Ubuntu, 'Trebuchet MS', sans-serif; 
	color:#555;
	font-size:16px;
	line-height:1.4;
	background:#fff;
}


/* GLOBAL STYLES */


.clear { 
	clear:both;
} 

a {
  text-decoration:none;
}

a:hover, a:focus {
}

h6 {
	font-size:110%;
}

h5 {
	font-size:130%;
}

h4 {
	font-size:150%;
}

h3 {
	font-size:170%;
}

h2 {
	font-size:180%;
}

h1 {
	font-size:200%;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.smallerFont {
	font-size: 80%;
}

img {
	max-width:100%;
}

input[type="submit"], button, .button {
    cursor:pointer;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px 6px;
    background: #7da0c8;
    font-size: 90%;
}

input[type="submit"]:hover, button:hover, .button:hover {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2), inset 2px 2px 2px rgba(255,255,255,0.5);
}

textarea {
	vertical-align:top;
}

/* END GLOBAL STYLES */

#header {
    z-index: 10;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 80px;
    padding: 4px 20px;
    background: #fff;
}


#header h1 {
    font-variant: small-caps;
    text-transform: lowercase;
    line-height: 1;
}

.attribution {
    font-size: 90%;
    padding-left: 2px;
}

#footer {
    background: #7da0c8;
    z-index: 10;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 80%;
    color: #fff;
}

#contentWrapper {
    width: 40%;
    margin-top: 100px;
    padding-left: 16px;
}

#contentWrapper h4 {
    font-weight: bold;
    padding: 0 0 12px 0;
}


#map {
    position: fixed;
    right: 5%;
    left: 45%;
    bottom: 5%;
    top: 104px;
}

#mapList, #placeDetails {
    font-size: 90%;
}

#mapList a:hover, #jsonLink:hover, #showSimilar:hover, .similarPlace a:hover, .linkColor:hover {
    color: #CD5C5C;
}


#mapList thead {
    font-weight: bold;
}

#mapList tbody tr td {
    border: 1px solid transparent;
}

#mapList tbody tr:hover td {
    border: 1px solid #ccc;
}

.mapListSection h4 {
    margin: 12px 0;
}

#jsonLink {
    font-size: 12px;
    font-style: italic;
}

#searchField {
    width: 80%;
    height: 30px;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

#searchTerm {
    color: #CD5C5C;
}

#similarPlacesWrapper {
    font-size: 90%;
}

.resultsList {
    font-style: italic;
}

#noOfResults, #currPageNo, #totalPages {
    font-style: normal;
}

input[type="text"] {
    padding: 2px 6px;
    border-radius: 4px;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.1);
}

.highlighted {
    background: rgba(0, 0, 0, 0.1);
}

#showSimilar {
   text-transform: uppercase; 
}

#showSimilar, #showHistory {
    display: inline-block;
    padding: 14px 0 0 0;
    border-bottom: 1px solid #999;
    margin-bottom: 6px;
 }

.infoLabel {
    font-weight: bold;
}

.detailList {
    margin-left: 15px;
}

.altLang {
    font-style: italic;
}

.collapseChild {
    cursor: pointer;
}

#revisions {
    font-size: 12px;
}

#currentVersion {
    font-size: 11px;
    font-style: italic;
    color: #999;
}

.totalRecords {
    margin-left: 15px;
    float: left;
    font-weight: bold;
}

.copyright {
    margin-right: 15px;
    float: right;
}
