* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	box-sizing: border-box; 
}

html, body  { 
	height: 100%;
	width: 100%;
}

body {
	background-color: #fff;
/* 	font-family:sans-serif;
 */	color: #222;
	font-size: 16px;
	line-height: 1.4;
}

img {
    max-width: 100%;
    height: auto;
}

/* COLUMNS */

/*.col25 {
	width: 25%;
}

.col33 {
	width:33.33%;
}

.col50 {
	width: 50%;
}

.col75 {
	width:75%;
}
*/

/* COLUMNS */

/* GLOBAL STYLES */


.clear { 
	clear: both;
} 

/* LIGHTBOX */
    
#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    background: rgba(255,255,255,0.9);
    display: none;
    z-index: 10000;
	
	text-align: center;
}

.lightBoxBlock {
	display: inline-block;
/*     width: 80%;
height: 90%;
margin: 0 auto;
margin-top: 5%;
margin-bottom: 5%;
 */    position: relative;
 
 padding: 3%;
}

.lightBox {
    padding: 10px;
    position: relative;
}

.nextLightBox, .prevLightBox, .closeLightBox {
	color: #777;
}

.openLightBox {
	position: relative;
}

.closeLightBox {
	position: absolute;
	right: -14px;
	top:-26px;
	padding: 4px;
	font-size: 220%;
}

.nextLightBox, .prevLightBox {
	position: absolute;
	top: 44%;
	font-size: 300%;
}

.nextLightBox {
	right: -30px;	
}

.prevLightBox {
	left: -30px;	
}

/* END LIGHTBOX */


