<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'> <!-- karen collate later, use what you need, etc etc  -->
        <link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/slider.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/home.css" type="text/css" /> 

        <link rel="stylesheet" href="/static/js/libs/leaflet/leaflet.css" />
    </head>
    <body>

        <div id="overlay">
            <div class="lightBoxBlock">
                <div class="lightBox">
                    <div class="lightBoxContent">
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper">
            <div id="leftBlock" class="col50">
                <div id="siteHeader">
                    <h1 class="headingSite header">Gazetteer Demo</h1>
                </div>
                <div id="mapBlock">
                    <div id="map"></div>
                </div>
            </div>
            <div class="col50" id="mapContent">

                <div id="searchToggle">
                    <div id="searchLink"><span class="fontIcons">/</span><!-- <input type="text" placeholder="TEXT SEARCH"> --></div>
                    <div id="loginBlock">
                        <span class="fontIcons">" <span class="tooltip">Login</span></span>
                        <span class="fontIcons">#<span class="tooltip">Sign-Up</span></span>
                        <span class="fontIcons">(<span class="tooltip">Help</span></span>
                    </div>
                    <div class="clear"></div>
                </div> <!-- end search toggle  -->
            
                <div class="clear"></div>

                <div id="searchToggleBlock">
                    <div id="searchBlock">
                        <form id="searchForm" method="GET" action="">
                        <div class="col50 padding10"> <!-- feature type block to go here -->
                        </div> <!-- end col50 -->


                        <div id="generalSearch">
                            <input id="q" type="text" />
                            <div id="dateInputBlock" class="col50">
                                <input type="text" id="start_date" placeholder="START YEAR" class="dateInput col50">
                                <input type="text" id="end_date" placeholder="END YEAR" class="dateInput col50">
                                <div class="clear"></div>    
                            </div> <!-- end dateInputBlock  -->
                            
                            <div class="clear"></div>
                            
                            <div id="searchFormDiv" class="col50">
                                <!-- <input type="text" placeholder="TEXT SEARCH" class="searchInput col100"> -->
                                <p class="button">Origin</p>
                            </div> <!-- end search form -->
                            
                            <div id="boundingBoxOption" class="col50">
                                <input type="checkbox" id="searchInBBox"><label for="">Search within map bounding box</label>    
                            </div>
                    
                            <div class="clear"></div>
                        </div> <!-- end general search  -->        
                        
                        
                        <div id="searchSubmit">
                            <div class="button inlineBlock" id="applySearch">Search</div>
                            <div class="button inlineBlock" id="cancelSearch">Cancel</div>
                            <div class="button inlineBlock" id="resetSearch">Reset</div>
                        </div>
                        </form>
                    </div> <!-- end search block  -->
                </div>


                <!--
                <div id="searchBlock">
                    <form id="searchForm" action="" method="GET">
                        <input id="q" /><br />
                        <input id="start_date" /> to <input id="end_date" />
                        <input type="submit" />
                    </form>
                </div>
                -->
                <div class="mainContent col100">    
                    <div id="breadcrumb"></div> <br />
                    <div id="mainContentBlock">
                    </div>
                </div>
            </div>
        </div>
        <!-- <script data-main="/static/js/build/main" src="/static/js/libs/require.js"></script> -->
        
        <script data-main="/static/js/main" src="/static/js/libs/require.js"></script>
    </body>
</html>


