<!DOCTYPE html>
<html>
    <head>
        <title></title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'> <!-- karen collate later, use what you need, etc etc  -->
        <link rel="stylesheet" href="/static/css/reset.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/slider.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/home.css" type="text/css" /> 
        <link rel="stylesheet" href="/static/css/lightbox.css" type="text/css" /> 

        <link rel="stylesheet" href="/static/js/libs/leaflet/leaflet.css" />
    </head>
    <body>

        <div id="overlay">
            <div class="lightBoxBlock">
                <div class="lightBox">
                    <div id="lightBoxContent">
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper">
            <div id="leftBlock" class="col50">
                <div id="siteHeader">
                    <h1 class="headingSite header">Gazetteer Demo</h1>
                </div>
                <div id="mapBlock">
                    <div id="map"></div>
                </div>
            </div>
            <div class="col50" id="mapContent">

                <div id="searchToggle">
                    <!-- <div id="searchLink"><span class="fontIcons">/</span></div> -->
                    <div id="loginBlock">
                        <span class="loginButtons">
                            <span class="fontIcons" id="loginBtn">" <span class="tooltip">Login</span></span>
                            <span class="fontIcons">#<span class="tooltip">Sign-Up</span></span>
                        </span>
                        <span class="loggedInMsg" style="display:none;">
                            
                        </span>
                        <span class="fontIcons">(<span class="tooltip">Help</span></span>
                    </div>
                    <div class="clear"></div>
                </div> <!-- end search toggle  -->
            
                <div class="clear"></div>

                <div id="searchToggleBlock">

                   <div id="searchBlock">
                        <form id="searchForm" action="" method="GET">
                            <input type="hidden" id="page" value="1" />
                            <div class="col40 padding4">
                                <input type="text" id="q" placeholder="TEXT SEARCH" class="col100 center">
                            </div> <!-- end col50 -->
                            <div id="dateInputBlock" class="col40 padding4">
                                <input type="text" id="start_date" placeholder="START YEAR" class="dateInput col50">
                                <input type="text" id="end_date" placeholder="END YEAR" class="dateInput col50">
                                <div class="clear"></div>    
                            </div> <!-- end dateInputBlock  -->
                            <div class="col20 padding4">
                                <div style="position:relative;">
                                    <input type="checkbox" id="searchInBBox" /><span class="tooltip">Search within map bounding box</span>
                                </div>
                                <!-- <div class="fullscreenLink fontIcons" style="color: #fff; padding: 2px 4px;">%<span class="tooltip">Search within map bounding box</span></div> -->
                            </div>
                            <div class="clear"></div>

                            <div class="col40 padding4">
                                <div id="featureTypeBlock">
                                    <input type="text" id="feature_type" placeholder="TYPE" />
                                    <!-- <a href="" id="featureLink">Type</a> -->
                                </div> <!-- end feature type block  -->
                            </div> <!-- end col 50  -->      

                            <div class="col40 padding4">
                                <!-- <p class="button">Source</p> -->
                            </div> <!-- end search form -->

                            <div id="searchSubmit" class="col20 padding4">
                                <div class="button inlineBlock col100" id="applySearch">Search</div>
                            </div>
                        </form>
                    </div> <!-- end search block  -->

                </div>


                <!--
                <div id="searchBlock">
                    <form id="searchForm" action="" method="GET">
                        <input id="q" /><br />
                        <input id="start_date" /> to <input id="end_date" />
                        <input type="submit" />
                    </form>
                </div>
                -->
                <div class="mainContent col100">    
                    <div id="breadcrumb"></div> <br />
                    <div id="mainResultsBlock">
                    </div>
                    <div id="mainContentBlock">
                    </div>
                </div>
            </div>
        </div>
        <!-- <script data-main="/static/js/build/main" src="/static/js/libs/require.js"></script> -->
        
        <script data-main="/static/js/main" src="/static/js/libs/require.js"></script>
    </body>
</html>


