{% extends 'base.html' %}

{% block page_title %} {{ place.name }} {% endblock %}

{% block extra_head %}
    <script type="text/javascript">
        {% autoescape off %} 
        var place_geojson = {{ place_geojson }} ;
        var similar_geojson = {{ similar_geojson }} ;
        if ("{{ revisions_json }}" === 'None') { //FIXME: back-end should never return 'None'. 
            var revisions_json = null;
        } else {
            var revisions_json = {{ revisions_json }} ;
        }
        {% endautoescape %} 
    </script>
    <script src="/static/js/detail.js"></script>

{% endblock %}


{% block content %}
<div id="contentWrapper">
    <h4> {{ place.name }} </h4>
    <ul id="placeDetails">
        <li><a href="{% url detail place_id=place.id %}" class="linkColor">Permalink</a> | <a href="{% url place_json id=place.id %}" class="linkColor">GeoJSON</a></li>
        <li><span class="infoLabel">Name:</span> {{ place.name }}</li>
        <li><span class="infoLabel">Feature Code:</span> {{ feature_code.typ }}: {{ feature_code.name }}</li>
        {% if place.population %}
        <li><span class="infoLabel">Population:</span> {{ place.population }}</li>
        {% endif %}
        {% if place.area %}
        <li><span class="infoLabel">Area:</span> {{ place.area }}</li>
        {% endif %}        
        <li><span class="infoLabel">Updated:</span> {{ updated|date:"d M Y" }}</li>
        <li><span class="infoLabel">URIs:</span>
            <ul id="uriList" class="detailList"> 
                {% for uri in place.uris %}
                <li><a href="http://{{ uri }}" target="_blank">{{ uri }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    
    <br />
    <a href="{% url edit_place place_id=place.id %}" class="button">Edit</a>
    <br />
    <div id="similarPlacesWrapper">
        <a id="showSimilar" href="">Show Similar</a>
        <ul id="similarPlaces" style="display:none;">
            {% for p in similar_places.features %}
                <li class="similarPlace" data-id="{{ p.properties.id }}">
                    <a href="{% url detail place_id=p.properties.id %}">
                        {{ p.properties.name }}
                    </a>
                </li>                
            {% endfor %}
        </ul>
    </div>

    {% if place.alternate %}
    <div id="alternateNamesWrapper">
        <a id="showAlternateNames" href="">Alternate Names</a>
        <table id="alternateNamesTable">
            <thead>
                <tr>
                    <td class="col1">Lang</td>
                    <td class="col2">Name</td>
                </tr>
            </thead>
            <tbody>
                {% for a in place.alternate %}
                <tr>
                    <td class="col1">{{ a.lang }}</td>
                    <td class="col2">{{ a.name }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    {% endif %}


    {% if revisions %}
    <div id="historyWrapper">
        
        <a id="showHistory" href="">Show History</a>
        <span id="currentVersion">Version: {{ revisions.version }}</span>
        <ul id="revisions" style="display:none;">
           {% for revision in revisions.revisions %}
                <li>
                    <a href="{% url revision_json id=place.id revision=revision.digest %}">
                        {{ revision.digest }}
                    </a> 
                    by {{ revision.user }} on <span class="timestamp">{{ revision.created_at }}</span>
                        
                </li>
           {% endfor %} 
        </ul>

    </div>
    {% endif %}

</div> <!-- close contentWrapper -->

<div class="map" id="map">

</div>

<div style="clear:both;"></div>
{% endblock %}

{% block footer %}

{% endblock %}

