{% extends 'base.html' %}

{% block page_title %} Edit: {{ place.name }} {% endblock %}

{% block extra_head %}
    <script type="text/javascript">
        {% autoescape off %} 
        var place_geojson = {{ place_geojson }} ;
        {% endautoescape %} 
    </script>
    <script src="/static/js/edit_place.js"></script>
{% endblock %}



{% block content %}
<div id="contentWrapper">
<h2>Edit {{ place.name }}
<form id="placeForm">
    <ul>
        <li><label>id:</label> {{ place.id }}</li>
        <li>Name: <input id="placeName" value="{{ place.name }}" /> </li>
        <li>Feature Code: <input id="featureCode" value="{{ place.feature_code }}" /></li>
        <li><input type="submit" value="Save" /><span id="saveNotification"></span></li>
    </ul>

</form>

<br />
</div>

<div class="map" id="map">

</div>

<div style="clear:both;"></div>
{% endblock %}

