{% extends 'base.html' %}

{% block page_title %} Search {% endblock %}

{% block extra_head %}
    <script src="/static/js/search.js"></script>
    <link rel="stylesheet" href="/static/css/index.css" />
    
{% endblock %}

{% block body_class %} index {% endblock %}

{% block content %}

<div id="contentWrapper">

<div id="searchWrapper">
    <form action="" method="get" class="searchForm" id="searchForm">
        <input type="text" placeholder="Search digital gazetteer" id="searchField" name="field" class="search" /><br />
        Timeframe: <input type="text" placeholder="start year, eg. 1900" id="startDate" /> - <input type="text" id="endDate" placeholder="end year, eg. 2010" /> <br />
        <input type="submit" name="searchButton" value="Search" id="searchButton">
        <!-- <button id="updateSearch" title="Update search for current map view-port">Update Search</button> -->

        <input type="hidden" value="1" id="page_no" name="page_no" />
    </form>
</div>
    <div class="mapListSection" style="float:left;">
        <p class="resultsList" id="totalResults">Total Results: <span id="noOfResults"> </span></p>

<p class="resultsList" id="showingResults">Showing Page: <span id="currPageNo">1</span> <span id="of">of</span> <span id="totalPages"> 10</span></p>
        
        <ul class="firstLast"> 
            <li class="first">First </li> 
            <li class="previous"> Previous</li> 
            <li class="next"> Next </li> 
            <li class="last"> Last</li>
        </ul>
         
    <!--<div class="firstLast">
            <div class="first">First </div>
            <div class="previous"> Previous &nbsp; &nbsp; &nbsp;</div>
            <div class="next"> Next </div>
            <div class="last"> Last</div>
        </div>-->
        
        <div class="clear"></div>
        
        <h4>Results for <span id="searchTerm"></span> &nbsp; <a href="" id="jsonLink">GeoJSON</a></h4> 

        <table id="mapList">
            <thead>
                <tr>
                    <th id="nameList">Name</th>
                    <th id="typeList">Type</th>
                    <th id="timeframeList">Time-frame</th>
                    <!--
                    <td id="countyList"></td>
                    <td id="stateList"></td>
                    -->
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>    

    </div>
</div> <!-- close contentWrapper -->

<div class="map" id="map">

</div>

<div style="clear:both;"></div>
{% endblock %}

{% block extra_footer %}
<span class="totalRecords">Total records: {{total_count}}</span>
{% endblock %}

