<p>
The New York Public Library's Chronology of Place is a historical gazetteer
for New York City. It allows people to search for historical buildings, points
of interest and areas.
</p>

<p>
Places can be searched according to geography and
between time frames. Places can be filtered according to the type of feature,
for example just show Schools and Parks, and places can be filtered according
to the data source, for example just show the places from the NYPL's holdings.
Historical maps from the NYPL Map Warper will be displayed for historical
places. 
</p>

<p>
Administrative users can login and make relations between places, to
manage the database and conflate entities. The Chronology of Place was
developed by <a href="http://topomancy.com" target="_blank">Topomancy LLC</a> with support from the <a href="http://loc.gov" target="_blank">Library of Congress</a> and the
<a href="http://nypl.org" target="_blank">New York Public Library</a>.
</p>